vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2013 07:31:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|lightbox/index.html
vti_author:SR|Bianca-PC\\Bianca
vti_modifiedby:SR|Bianca-PC\\Bianca
vti_timecreated:TR|21 Apr 2012 10:51:16 -0000
vti_nexttolasttimemodified:TW|21 Apr 2012 10:51:16 -0000
vti_cacheddtm:TX|19 Mar 2013 07:32:10 -0000
vti_filesize:IR|20498
vti_cachedlinkinfo:VX|S|../images/bg-checker.png S|../images/bullet.gif
vti_cachedsvcrellinks:VX|FSUS|lightbox/images/bg-checker.png FSUS|lightbox/images/bullet.gif
